# https://github.com/rancher/local-path-provisioner/tree/master/deploy/chart/local-path-provisioner
#storageClass:
#  defaultClass: false
#  pathPattern: "pvc-{{ .PVC.Namespace }}-{{ .PVC.Name }}"
#  relaimPolicy: Delete

configmap:
  # opposed to the default, use file mode 0770 instead of 0777
  # this should work if always setting fsGroup in securityContext
  setup: |-
    #!/bin/sh  
    set -eu  
    mkdir -m 0770 -p "$VOL_DIR"

# https://github.com/rancher/local-path-provisioner/blob/master/deploy/chart/local-path-provisioner/templates/storageclass.yaml
storageClassConfigs:
  local-path:
    nodePathMap:
      - node: DEFAULT_PATH_FOR_NON_LISTED_NODES
        paths:
          - /opt/local-path-provisioner
    storageClass:
      create: true
      defaultClass: false
      defaultVolumeType: "hostPath"
      volumeBindingMode: WaitForFirstConsumer  # vs. Immediate
      pathPattern: "pv_{{ .PVC.Namespace }}_{{ .PVC.Name }}"
      reclaimPolicy: Retain

  local-path-auto-delete:
    nodePathMap:
      - node: DEFAULT_PATH_FOR_NON_LISTED_NODES
        paths:
          - /opt/local-path-provisioner
    storageClass:
      create: true
      defaultClass: false
      defaultVolumeType: "hostPath"
      volumeBindingMode: WaitForFirstConsumer  # vs. Immediate
      pathPattern: "{{ .PVName }}_{{ .PVC.Namespace }}_{{ .PVC.Name }}"
      reclaimPolicy: Delete

