# https://github.com/rancher/local-path-provisioner/tree/master/deploy/chart/local-path-provisioner
#storageClass:
#  defaultClass: false
#  pathPattern: "pvc-{{ .PVC.Namespace }}-{{ .PVC.Name }}"
#  relaimPolicy: Delete

# https://github.com/rancher/local-path-provisioner/blob/master/deploy/chart/local-path-provisioner/templates/storageclass.yaml
storageClassConfigs:
  local-path:
    nodePathMap:
      - node: DEFAULT_PATH_FOR_NON_LISTED_NODES
        paths:
          - /opt/local-path-provisioner
    storageClass:
      create: true
      defaultClass: false
      defaultVolumeType: "hostPath"
      volumeBindingMode: WaitForFirstConsumer  # vs. Immediate
      pathPattern: "{{ .PVC.Namespace }}/{{ .PVC.Name }}/"
      reclaimPolicy: Retain

  local-path-auto-delete:
    nodePathMap:
      - node: DEFAULT_PATH_FOR_NON_LISTED_NODES
        paths:
          - /opt/local-path-provisioner
    storageClass:
      create: true
      defaultClass: false
      defaultVolumeType: "hostPath"
      volumeBindingMode: WaitForFirstConsumer  # vs. Immediate
      pathPattern: "{{ .PVC.Namespace }}/{{ .PVC.Name }}/"
      reclaimPolicy: Delete
