# Step-CA Configuration ConfigMap
apiVersion: v1
kind: ConfigMap
metadata:
  name: step-certificates-config
data:
  ca.json: |
    {
      "root": "/home/step/certs/root_ca.crt",
      "federatedRoots": [],
      "crt": "/home/step/certs/intermediate_ca.crt",
      "key": "/home/step/secrets/intermediate_ca_key",
      "address": ":9000",
      "insecureAddress": "",
      "dnsNames": [
        "step-ca.svc.elda",
        "ca.svc.elda",
        "step-certificates.step-ca.svc.cluster.local"
      ],
      "logger": {
        "format": "json"
      },
      "db": {
        "type": "badgerv2",
        "dataSource": "/home/step/db"
      },
      "authority": {
        "enableAdmin": false,
        "provisioners": [
          {
            "type": "JWK",
            "name": "ju@step-ca.svc.elda",
            "key": {
              "use": "sig",
              "kty": "EC",
              "kid": "WZGjzBJ0-IpDPml8_GAPfF1GeXqHSogjCr7UxMWPjLs",
              "crv": "P-256",
              "alg": "ES256",
              "x": "QAznOiFZD3DjUtsJw1pnEDVIe2I43GxLQ-GyNM6rspw",
              "y": "trQDJDTcN_zzeuCJ_cQfA5MY41P2_xtE7vKe6xIhgZE"
            },
            "encryptedKey": "eyJhbGciOiJQQkVTMi1IUzI1NitBMTI4S1ciLCJlbmMiOiJBMjU2R0NNIiwicDJjIjo2MDAwMDAsInAycyI6InZvUmJjSXZOMWJvUWJLRDRzWC1lZWcifQ.VOZjqUd9r_yOw5UUKlt70Okj0S-MyD5QQbVWPI9u6Vliln-wamVJfA.qlEcR8mw1thF2LSn.MWUm3BAdcBpjS-SECXxcXBVVrQC-re-NKlr8tih2jINEsn7Gng13fSf1EEBKxrZrg6Nc2jBXdRgjtL6w4AUj2EKAfoGxo8FeZLp6mLzG7_z9kdaGmIM1gIAJHoHXRnGVlmNue66jUd6iwxGoYEU0Un8ZQ9ir7iBtoVeWvmy2LSkdwTeN629hKb3QkUF-baKQ57_QIeS4uBfVVfQqT-g9ZnWmxmzWreOaNKj_SpQyd1VdM_BvOaAZAMG4kvSKPhCQIvJ_FWAn2y8UqHQjITzao4OJ_ShEsiouH5VZR05g6jGUAetdS801PwD_XRMOWMINSXU29XDSU9mYqCjdVXg.lgwvVhIc1satTKgvBJ38KQ"
          }
        ],
        "policy": {
          "x509": {
            "allow": {
              "dns": ["*.elda", "*.local"]
            },
            "allowWildcardNames": false
          }
        }
      },
      "tls": {
        "cipherSuites": [
          "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256",
          "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256"
        ],
        "minVersion": 1.2,
        "maxVersion": 1.3,
        "renegotiation": false
      }
    }
  defaults.json: |
    {
      "ca-url": "https://step-ca.svc.elda",
      "ca-config": "/home/step/config/ca.json",
      "fingerprint": "78591edc0fb2ccc688560bf65f3e17e233db2d3c1586c9571fd72e86b5c340a5",
      "root": "/home/step/certs/root_ca.crt"
    }
