
# On restore, this value must be changed!
# cloudnative-pg will not allow the same restore source and backup target on cluster restore.
# Thus, this creates a new generation of the Postgres cluster, 
# restoring from the previous generation, but writing backups to its own, new location.
# See https://github.com/cloudnative-pg/cloudnative-pg/blob/main/docs/src/recovery.md#restoring-into-a-cluster-with-a-backup-section
clusterGeneration: "001"
clusterPreviousGeneration: "000"


strictAntiAffinity: true

postgres:
  instances: 2
  clusterNameOverride: ""

backup:
  schedule: "0 0 3,15 * * *"
  retentionPolicy: 60d

restore: 
  enabled: false
  # In case a different name was used before, set it here to allow restores from previous backups.
  clusterNameOverride: ""

s3:
  backupBucket: "<overwrite>"
  # TODO: don't forget to adjust the network policy if this is changed...
  # it is currently manually set to this hostname
  endpoint: http://s3.svc.elda

externalsecrets:
  secrets:
    s3-credentials:
      commonRemoteKey: "<overwrite>"
      fields:
        ACCESS_KEY_ID:
          storeRefName: bitwarden-login
          remoteProperty: username
        ACCESS_SECRET_KEY:
          storeRefName: bitwarden-login
          remoteProperty: password
    db-superuser:
      commonRemoteKey: "<overwrite>"
      fields:
        username:  # must be postgres apparently
          storeRefName: bitwarden-login
          remoteProperty: username
        password:
          storeRefName: bitwarden-login
          remoteProperty: password
