# Reference: 
#   - https://github.com/rowanruseler/helm-charts/blob/main/charts/pgadmin4/values.yaml
#   - https://www.pgadmin.org/docs/pgadmin4/latest/container_deployment.html

image:
  # https://github.com/pgadmin-org/pgadmin4
  name: dpage/pgadmin4
  tag: 9.12.0

ingress:
  host: <overwrite>
  accessControl:
    externalAccessAllowed: false

service:
  targetPort: 5050

env:
  PGADMIN_LISTEN_PORT: "5050"
  PGADMIN_DISABLE_POSTFIX: "true"

externalsecrets:
  secrets:
    pgadmin-credentials:
      commonRemoteKey: "<overwrite>"
      mount:
        env: true
      fields:
        PGADMIN_DEFAULT_EMAIL:
          storeRefName: bitwarden-login
          remoteProperty: username
        PGADMIN_DEFAULT_PASSWORD:
          storeRefName: bitwarden-login
          remoteProperty: password


podSecurityContextPreset:
  runAsUser: 5050  # default user for pgadmin

containerSecurityContextPreset:
  capabilities:
    add:
      # Unfortunately, the docker image is built in a weird way and requries this capability,
      # even if the port is changed to an unprivileged one...
      #  -> https://github.com/pgadmin-org/pgadmin4/issues/6694
      - NET_BIND_SERVICE

longhornstorage:
  volumes:
    pgadmin-config:
      size: 50Mi
      variant: encrypted
      pvName: ""  # TODO
      mount:
        path: "/var/lib/pgadmin"

networkpolicy:
  enabled: true
  preset:
    useChartEndpointSelector: true
    namespaceIsolation: false  # don't allow access to the whole namespace
    egress:
      rules:
        - toServices:
            - k8sServiceSelector:
                selector:
                  matchLabels:
                    app.kubernetes.io/name: postgresdb
                    io.kubernetes.pod.namespace: cloudnative-pg
          toPorts:
            - ports:
                - port: "5432"
                  protocol: TCP

livenessProbe:
  enabled: true
  http:
    path: /misc/ping
    port: 5050

readinessProbe:
  enabled: true
  http:
    path: /misc/ping
    port: 5050


# to turn pgadmin off when not needed
autoscale:
  enabled: true
  preset:
    switch:
      enabled: true
      url: "http://nodered.nodered.svc/autoscaler/pgadmin"
