# https://github.com/cloudnative-pg/charts/tree/main/charts/cloudnative-pg
cloudnative-pg:
  config:
    clusterWide: false  # can be disabled if only running a single database in the namespace

networkpolicy-cnpg:
  preset:
    name: networkpolicy-cnpg
    endpointSelector:
      matchLabels:
        app.kubernetes.io/name: cloudnative-pg
    namespaceIsolation: false
    ingress:
      fromIngressController: false
      rules:
        - fromEntities:
            - kube-apiserver
    egress:
      toKubeApi: true
      rules:
        - toEndpoints:
            - {}  # everything in the namespace

networkpolicy-postgresdb:
  preset:
    name: networkpolicy-postgresdb
    endpointSelector:
      matchLabels:
        cnpg.io/cluster: postgresdb
    namespaceIsolation: false
    ingress:
      # access the database for application workloads
      fromNamespaces:
        - nodered
      fromIngressController: false
      rules:
        # postgres cluster communication
        - fromEndpoints:
            - matchLabels:
                cnpg.io/cluster: postgresdb
                io.kubernetes.pod.namespace: cloudnative-pg
        # pgadmin
        - fromEndpoints:
            - matchLabels:
                app.kubernetes.io/name: pgadmin
                io.kubernetes.pod.namespace: cloudnative-pg
    egress:
      # backup to minio
      toNamespace: minio
      # postgres cluster communication
      rules:
        - toEndpoints:
            - matchLabels:
                cnpg.io/cluster: postgresdb
                io.kubernetes.pod.namespace: cloudnative-pg

networkpolicy-barman-cloud-plugin:
  preset:
    name: networkpolicy-barman-cloud-plugin
    endpointSelector:
      app.kubernetes.io/name: plugin-barman-cloud
    namespaceIsolation: false
    ingress:
      fromIngressController: false
      rules:
        - fromEntities:
            - kube-apiserver
        - fromEndpoints:
            - matchLabels:
                app.kubernetes.io/name: cloudnative-pg
                io.kubernetes.pod.namespace: cloudnative-pg
    egress:
      toKubeApi: true


externalsecrets:
  secrets:
    minio-credentials:
      commonRemoteKey: "<overwrite>"
      fields:
        ACCESS_KEY_ID:
          storeRefName: bitwarden-login
          remoteProperty: username
        ACCESS_SECRET_KEY:
          storeRefName: bitwarden-login
          remoteProperty: password


# Reference: 
#   - https://github.com/rowanruseler/helm-charts/blob/main/charts/pgadmin4/values.yaml
#   - https://www.pgadmin.org/docs/pgadmin4/latest/container_deployment.html
pgadmin:
  global:
    nameOverride: pgadmin

  image:
    # https://github.com/pgadmin-org/pgadmin4
    name: dpage/pgadmin4
    tag: 9.10.0

  ingress:
    host: <overwrite>
    accessControl:
      externalAccessAllowed: false

  service:
    targetPort: 5050

  env:
    PGADMIN_LISTEN_PORT: "5050"
    PGADMIN_DISABLE_POSTFIX: "true"

  externalsecrets:
    secrets:
      pgadmin-credentials:
        commonRemoteKey: "<overwrite>"
        mount:
          env: true
        fields:
          PGADMIN_DEFAULT_EMAIL:
            storeRefName: bitwarden-login
            remoteProperty: username
          PGADMIN_DEFAULT_PASSWORD:
            storeRefName: bitwarden-login
            remoteProperty: password


  podSecurityContextPreset:
    runAsUser: 5050  # default user for pgadmin

  containerSecurityContextPreset:
    capabilities:
      add:
        # Unfortunately, the docker image is built in a weird way and requries this capability,
        # even if the port is changed to an unprivileged one...
        #  -> https://github.com/pgadmin-org/pgadmin4/issues/6694
        - NET_BIND_SERVICE

  longhornstorage:
    volumes:
      pgadmin-config:
        size: 50Mi
        variant: encrypted
        pvName: ""  # TODO
        mount:
          path: "/var/lib/pgadmin"

  networkpolicy:
    enabled: true
    preset:
      useChartEndpointSelector: true
      namespaceIsolation: false  # don't allow access to the whole namespace
      egress:
        rules:
          - toEndpoints:
              - matchLabels:
                  cnpg.io/cluster: postgresdb
                  io.kubernetes.pod.namespace: cloudnative-pg
            toPorts:
              - ports:
                  - port: "5432"
                    protocol: TCP

  livenessProbe:
    enabled: true
    http:
      path: /misc/ping
      port: 5050

  readinessProbe:
    enabled: true
    http:
      path: /misc/ping
      port: 5050
