apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
spec:
  destination:
    namespace: {{ .Values.namespace }}
    server: {{ .Values.server }}
  project: argocd-project
  source:
    helm:
      version: v3
      valueFiles:
        - values.yaml
        {{- if include "apps-wrapper.targetValuesFile" $ }}
        - {{ include "apps-wrapper.targetValuesFile" $ }}
        {{- end }}
    path: 02_bootstrap/01_argocd
    repoURL: {{ .Values.mainRepo }}
    targetRevision: {{ .Values.targetRevision }}
  syncPolicy:
    automated:
      enabled: false
      selfHeal: true
      # This setting is excluded when disabled, as it leads to OutOfSync after a Sync of the Application resources for some reason
      #prune: false
    syncOptions:
      - CreateNamespace=true
