apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
spec:
  destination:
    namespace: traefik
    server: {{ .Values.server }}
  project: traefik-project
  sources:
    - helm:
        version: v3
        valueFiles:
          - values.yaml
          {{- if include "apps-wrapper.targetValuesFile" $ }}
          - {{ include "apps-wrapper.targetValuesFile" $ }}
          {{- end }}
      path: 02_bootstrap/03_traefik
      repoURL: {{ .Values.mainRepo }}
      targetRevision: {{ .Values.targetRevision }}
    - path: 02_bootstrap/03_traefik/resources
      repoURL: {{ .Values.mainRepo }}
      targetRevision: {{ .Values.targetRevision }}
    # network policy
    - repoURL: {{ .Values.mainHelmRepo }}
      chart: {{ .Values.networkPolicyChart }}
      targetRevision: {{ .Values.networkPolicyChartVersion }}
      helm:
        skipCrds: true
        valueFiles:
          - '$repo/02_bootstrap/03_traefik/network.yaml'
    - repoURL: {{ .Values.mainRepo }}
      targetRevision: {{ .Values.targetRevision }}
      ref: repo
  syncPolicy:
    automated:
      enabled: false
      selfHeal: true
      # This setting is excluded when disabled, as it leads to OutOfSync after a Sync of the Application resources for some reason
      #prune: false
